@import '../../variables.scss';

.dropdown{
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
    color: $color5;

    &__selected-item{
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        text-transform: uppercase;
        padding-right: 20px;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            transform: translate(0,-50%);
            top: 50%;
            right: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color1;
        }

        &--field{
            background-color: $color4;
            padding-left: 10px;
            &:after{
                right: 10px;
            }
        }
    }
    &__container{
        position: absolute;
        top: 60px;
        color: $color5;
        background-color: $color4;
        padding: 20px;
        display: flex;
        right: 0;
        flex-direction: column;
        white-space: nowrap;
        z-index: 100;
    }

    &__item{
        padding: 10px;
        cursor: pointer;
    }

    &__real-element{
        display: none;
    }
    
}

  