@import '../../variables.scss';

.details{
    height: 100%;
    display: flex;
    color: $color5;

    &__poster{
        display: block;
        height: 300px;
    }
    &__info{
        margin: 0 30px;
    }
    &__row{
        display: flex;
        align-items: center;
    }
    &__title{
        font-size: 41px;
        margin-right: 30px;
    }
    &__rating{
        font-size: 21px;
        border: 2px solid $color4;
        border-radius: 50%;
        padding: 20px;
    }
    &__genre{
        color: $color4;
    }

    &__release{
        color: $color1;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 21px;
    }
    &__duration{
        color: $color1;
        margin-top: 10px;
        font-size: 21px;
    }
    &__description{
        margin-top: 20px;
    }
}