@import '../../variables.scss';

.sort-panel{
    display: flex;
    align-items: stretch;
    &__pretext{
        color: $color4;
        margin-right: 30px;
        white-space: nowrap;
        align-self: center;
    }
    &__control{
        width: 150px;
        display: flex;
        align-items: stretch;
    }
}