@import '../../variables.scss';

.movie-item{
    width: 320px;
    margin: 20px;
    position: relative;
    &__poster{
        cursor: pointer;
        width: 100%;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__title{
        color: $color5;
        font-size: 21px;
    }
    &__genre{
        color: $color4;
        margin-top: 10px;
    }
    &__release-date{
        color: $color5;
        padding: 5px 10px;
        border: 1px solid $color5;
        align-self: flex-start;
    }
    
}