@import '../../variables.scss';

.movie-list{
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80vw;

    &__empty{
        color: $color5;
        font-size: 21px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}