@import '../../variables.scss';

.filter-panel{
    display: flex;
    &__item{
        text-transform: uppercase;
        padding: 20px 0;
        margin-right: 30px;
        color: $color5;
        &--active{
            border-bottom: 2px solid $color1;
        }
    }
}