@import '../../variables.scss';

.button{
    text-transform: uppercase;
    border-radius: 3px;
    padding: 18px 45px;
    box-sizing: border-box;
    height: 50px;
    
    &--default{
        color: $color5;
        background-color: $color1;
        border: none;
    }
    &--transparent{
        color: $color1;
        background-color: transparent;
        border: 1px solid $color1;
    }
}