@import '../../variables.scss';

.menu{
    &__button{
        cursor: pointer;
        background-color: $color3;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        &:after{
            position: absolute;
            right: 6px;
            top: 2px;
            content: '\2807';
            font-size: 32px;
            color: $color5;
            
        }
    }

    &__container{
        position: absolute;
        right: 10px;
        top: 10px;
        color: $color5;
        background-color: $color3;
        padding: 30px;
    }

    &__item{
        padding: 10px;
        cursor: pointer;
    }

    &__close{
        z-index: 10;
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 16px;
        width: 16px;
        height: 16px;
        &:before, &:after{
            left: 5px;
            position:absolute;
            content:'';
            height: 16px;
            width: 2px;
            background-color: $color5;
        }
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
    }
}