@import '../../variables.scss';

.date-input{
    width: 100%;
    box-sizing: border-box;
    color: $color5;
    background-color: $color2;
    height: 50px;
    border: none;
    padding-left: 10px;
}