@import '../../variables.scss';

.popup{
    z-index: 1000;
    overflow: scroll;
    max-height: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color3;
    padding: 80px 65px;
    &__close{
        cursor: pointer;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        &:before, &:after{
            left: 15px;
            position:absolute;
            content:'';
            height: 33px;
            width: 2px;
            background-color: $color5;
        }
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
    }
    &__title{
        text-transform: uppercase;
        color: $color5;
        font-size: 32px;
    }
    &__back-layout{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(5px);
        z-index: 999;
    }
}