@import '../../variables.scss';

.field{
    margin-top: 20px;
    &__title{
        text-transform: uppercase;
        color: $color1;
    }
    &__control{
        min-width: 500px;
        margin-top: 10px;
        height: 50px;
        display: flex;
    }
    &__error{
        color: $color1;
    }
}