@import '../../variables.scss';

.header{
    min-height: 400px;
    background-image:url('./background.png');
    background-repeat: no-repeat;
    background-position: top center;

    &__top{
        padding: 10px 60px 40px 60px;
        display: flex;
        justify-content: space-between;
    }
    &__data-panel{
        padding-left: 120px;
        padding-bottom: 100px;
    }

    &__search-title{
        color: $color5;
        font-size: 28px;
        text-transform: uppercase;
        
    }
}