@import '../../variables.scss';

.search{
    margin: 40px 120px;
    display: flex;

    &__input{
        color: $color4;
        height: 50px;
        width: 100%;
        text-indent: 20px;
        box-sizing: border-box;
        opacity: 0.3;
        margin-right: 10px;
    }
}