@import '../../variables.scss';

.add-movie-button{
    color: $color1;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 3px;
}